@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::-webkit-scrollbar {
    width: 6px;
  }

  ::-webkit-scrollbar-track {
    background: theme('colors.gray.900');
  }

  ::-webkit-scrollbar-thumb {
    background: theme('colors.gray.700');
    border-radius: 3px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: theme('colors.gray.600');
  }
}
